.container {
  display: grid;
  grid-auto-rows: minmax(60px, auto);
  grid-row-gap: 2px;
  margin: 10px 10px;
}

.container__item {
  background-color: white;
  padding: 0 10px;
}

.container__form {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

@media (max-width: 768px) {
  .container__form {
    flex-wrap: wrap;
  }
}

.container__imput {
  background-color: white;
  padding: 10px;
  flex-grow: 1;
  border: 1px solid rgb(241 240 242);
  color: hsl(0, 0%, 60%);
}

.container__button {
  flex-grow: 0;
  background-color: teal;
  color: white;
  padding: 10px;
  margin-left: 15px;
  border: 1px solid teal;
}

@media (max-width: 768px) {
  .container__button {
    flex-basis: 100%;
    margin: 10px 0;
  }
}

.container__tasks {
  padding: 0px;
  margin: 10px 5px;
}
