.container {
  display: grid;
  grid-auto-rows: minmax(50px, auto);
  grid-row-gap: 2px;
  margin: 10px 10px;
}

.container__item {
  background-color: white;
  padding: 0 10px;
}

.container__form {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

@media (max-width: 768px) {
  .container__form {
    flex-wrap: wrap;
  }
}

.container__headline {
margin-left:10px;
}

.container__input {
  background-color: white;
  padding: 10px;
  flex-grow: 1;
  border: 2px solid rgb(241 240 242);
  color: hsl(0, 0%, 60%);
}

.container__button {
  flex-grow: 0;
  background-color: teal;
  color: white;
  padding: 10px;
  margin-left: 15px;
  border: 2px solid teal;
}

.container__button:hover {
  background-color: hsl(180, 100%, 35%);
  border: 2px solid hsl(180, 100%, 35%);
  transition: 1s;
  transform:scale(1.05);
}

@media (max-width: 768px) {
  .container__button {
    flex-basis: 100%;
    margin: 10px 0;
  }
}

.container__tasks {
  padding: 0px;
  margin: 5px 5px 20px;
}

.container__tasksList {
  display:flex;
  align-items:start;
  grid-gap: 10px;
  justify-content: space-between;
  flex-wrap:wrap;
}

.container__actionButton {
  background-color:transparent;
  color: teal;
  border: none;
  align-self:center;
  flex-wrap:wrap
}

@media (max-width: 768px) {
  .container__actionButton {
    flex-direction: column;
    align-self:center;
    flex-wrap:wrap;
  }
}

.container__actionButton:hover {
  color: hsl(180, 100%, 35%);
}

.container__actionButton:disabled {
  color:grey;
}
