.list__item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 20px;
  align-items: center;
  margin: 0 20px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.list__item--hide {
  display: none;
}

.list__span {
  word-break: break-all;
}

.list__span--done {
  text-decoration-line: line-through;
}

.list__button {
  width: 30px;
  height: 30px;
  color: white;
  border: none;
  background-color: green;
  font-family: "Material Icons Outlined";
  font-size: 16px;
  padding: 0;
}

.list__button:hover {
  background-color: hsl(120, 100%, 35%);
  transition: 1s;
}
.list__button:active {
  background-color: hsl(120, 100%, 45%);
  transition: 1s;
}

.list__button--remove {
  background-color: crimson;
}

.list__button--remove:hover {
  background-color: hsl(348, 83%, 57%);
}

.list__button--remove:active {
  background-color: hsl(348, 83%, 67%);
  transition: 1s;
}