html {
    box-sizing: border-box;
  }
  
  *,
  ::after,
  ::before {
    box-sizing: inherit;
  }
  
.body {
    background-color:rgb(241 240 242);
    font-family: "Montserrat", sans-serif;
    max-width: 800px;
    margin:auto;
} 