html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  background-color:rgb(241 240 242);
  font-family: "Montserrat", sans-serif;
  font-size: smaller;
  max-width: 800px;
  width:100%;
  margin: auto;
}

.headline {
    margin:10px;
    padding-top:20px
}

